<h1>Add a product.</h1>
<%= render "layouts/errors", :object => @product %>

  <%= form_for @product do |f| %>
    Name: <%= f.text_field :name %>
    Description: <%= f.text_field :description %>
    Price: <%= f.number_field :price, value: number_to_currency(f.object.price.to_f, delimiter: '', unit: ''), step: :any %>
    Image URL: <%= f.text_field :image %>
  <%= f.submit "Submit" %>

<% end %>
